@mixin textBackground($width, $left:0, $top:0){
  position: absolute;
  content: ' ';
  top: $top;
  left: $left;
  height: 45px;
  width: $width;
  background-color: $backgroundTextColor;
  z-index: -1;
}

@mixin link($color){
  color: $color;
}

@mixin button {
  padding: 8px 35px;
  background-color: $brandButtonColor;
  color: white;
  border-radius: 3px;
  border: none;
  font-size: 18px;
  font-family: inherit;
  cursor: pointer;
}

@mixin logo($color){
  display: flex;
  align-items: center;
  color: $color;

  p{
    text-align: center;
    font-weight: bold;
    margin-left: 10px;
    font-size: 18px;

    span{
      display: inherit;
      font-size: 10px;
      font-weight: normal;
    }
  }
}

*{
  margin: 0;
  padding: 0;
}

body{
  background-color: $backgroundColor;
}

.header-wrap,
.section_text,
.section_banner,
.section_card_heading{
  font-family: map-get($brandFonts, 'heading');
}

.header_text,
.section_card_text,
.section_link,
footer{
  font-family: map-get($brandFonts, 'text')
}

.header-wrap{
  padding: 10px 200px 150px 200px;
  color: $headingColor;
  background-image: url($headerBackgroundImage);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-bottom-right-radius: 40%;


  .header_heading{
    font-size: 4em;
    font-weight: bold;
    width: 550px;
    position: relative;
    z-index: 2;

    &::before{
      @include textBackground($width: 270px, $top: 105px);
    }
  }

  .header_text{
    white-space: pre-line;
    font-size: 16px;
    margin-top: 40px;
    margin-bottom: 60px;
  }

  .header_button{
    @include button;
  }

  a.login{
    @include link(white);
    margin-left: 150px;
  }
}

.landing-logo{
    margin-bottom: 70px;
    margin-top: 10px;
    display: flex;
    align-items: center;

    p{
      text-align: center;
      font-weight: bold;
      margin-left: 10px;
      font-size: 18px;

      span{
        display: inherit;
        font-size: 10px;
        font-weight: normal;
      }
    }
}

main{
  .section_text{
    text-align: center;
    font-size: 40px;
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px;
    color: $headingColor;
    &::before{
      @include textBackground($width: 174px, $left: 50.5%);
    }
  }

  .section_card_wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .section_card{
      padding: 20px;
      background-color: $sectionBackgroundColor;
      margin-bottom: 10px;
      display: flex;
      width: 1100px;
      border-radius: 5px;
      color: white;

      img{
        height: 100%;
        width: 100%;
        max-height: 285px;
        border-radius: 5px;
      }

      .section_card_right_container{
        padding: 20px 100px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        .section_card_heading{
          margin: 30px auto;
          text-align: center;
          font-size: 22px;
        }

        .section_card_text{
          width: 90%;
          margin-bottom: 20px;
        }
        .section_card_text, .section_link{
          @include link(rgba(255, 255, 255, 0.7));
        }
      }
    }
  }

  .section_banner{
    padding: 35px 160px;
    background-image: linear-gradient(to right, $brandButtonColor, $gradientSecondColor);
    width: 1200px;
    margin: 50px auto -70px auto;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    mix-blend-mode: lighten;

    .section_banner_heading{
      font-size: 25px;
      font-weight: bold;
      color: $headingColor;
      position: relative;
      line-height: 20px;
      margin-bottom: 20px;

      &::before{
        @include textBackground(55px, 100px, -20px);
      }
    }

    .section_banner_text{
      color: rgba(255, 255, 255, 0.7);
      font-size: 12px;
    }

    .section_banner_button{
      @include button;
    }
  }
}

footer{
  background-color: #21232e;
  padding: 130px 250px 55px 250px;

  .footer-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgba(255, 255, 255, 0.7);
    .landing-logo{
      @extend .landing-logo;
      margin: 0;
      color: inherit;
    }

    .footer_text{
      width: 300px;
      font-weight: 100;
      font-size: 14px;
    }
  }
}
