$backgroundTextColor: #ff4e33;

$headerBackgroundImage: '../img/m-h-night.jpg';

$brandButtonColor: #e3ac00;

$sectionBackgroundColor: #3b3f50;

$gradientFirstColor: $brandButtonColor;

$gradientSecondColor: #97344e;

$backgroundColor: #21232e;

$brandFonts: ("heading": 'Source Sans Pro', "text": 'Fresca');

$headingColor: #fff;
