$backgroundTextColor: #14a0c7;

$headerBackgroundImage: '../img/m-h-day.jpg';

$brandButtonColor: #699900;

$sectionBackgroundColor: #21232e;

$gradientFirstColor: $brandButtonColor;

$gradientSecondColor: #2d5bd7;

$backgroundColor: #fff;

$brandFonts: ("heading": 'Source Sans Pro', "text": 'Hind');

$headingColor: #2c2f3c;
